body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.terminal-container {
    padding: 20px;
}

.terminal {
    padding: 20px;
    background-color: #000;
    margin-bottom: 20px;
}

.message{
    border-radius: 0 0 5px 5px;
    border: 2px solid #333;
    padding: 10px 20px 5px 20px;
}

.terminal p {
    margin: 10px 0;
    line-height: 1;
}

/* Style for the user input prompt */
.user-prompt {
    color: green;
    display: inline;
}

.terminal-input {
    padding: 20px;
    padding-left: 25px;
    background-color: black;
    display: flex;
    align-items: center;
}

#user-input-prompt {
    color: green;
    display: inline;
    margin-right: 5px;
}

.user-input {
   /* border: 1px solid #00ff00;
    padding: 5px;
    color: #fff;
    background-color: transparent; /* Set background to transparent
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    outline: none;
    width: calc(100% - 100px); /* Adjust the width to your preference 
    margin-right: 10px; Add some margin between the input and the submit button*/
    flex-grow: 1;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    outline: none;
    padding: 10px;
}

/* input[type="submit"] {
    background-color: #00ff00;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
#user-input::placeholder {
    color: #888;
} */

.terminal-header {
    background-color: #333;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.terminal-buttons {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF605C;
    margin-right: 5px;
    margin-left: 5px;
}

.terminal-title {
    font-size: 14px;
}
.terminal-buttons:hover {
    background-color: #FFBD44;
}

.blinking-square {
    width: 10px;
    height: 15px;
    background-color: green;
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        background-color: green;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: green;
    }
}