/* Add your styles below */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.head {
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.head2 {
    padding: 20px 20px 0 20px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.terminal {
    flex: 1;
    overflow-y: auto; /* Show the scrollbar when necessary */
    margin: 0 20px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: none; /* Firefox */
    border-radius: 0 0 5px 5px;
    border: 2px solid #333;
    padding: 10px 20px 5px 20px;
    background-color: #151515;
}
/* Hide scrollbar for webkit browsers */
.terminal::-webkit-scrollbar {
    display: none;
}

/* Style for the user input prompt */
.user-prompt {
    color: green;
    display: inline;
}

.terminal-input {
    /* padding: 20px 20px 20px 35px;
    background-color: black;
    display: flex; */
    align-items: center;
}

#user-input-prompt {
    color: green;
    display: inline;
    margin-right: 5px;
}

.user-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    outline: none;
}

.terminal-header {
    background-color: #333;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.terminal-buttons {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF605C;
    margin-right: 5px;
    margin-left: 5px;
}
.terminal-minimus{
    background-color: #ffc100;
    border-color: #9d802c;
}
.terminal-zoom{
    background-color: #00d742;
    border-color: #049931;
}
.terminal-title {
    font-size: 14px;
}

.message{
    border-radius: 0 0 5px 5px;
    border: 2px solid #333;
    padding: 10px 20px 5px 20px;
    background-color: #151515;
}
.blinking-square {
    width: 10px;
    height: 15px;
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
      40% {
        opacity: 0;
    }
      50% {
        opacity: 1;
    }
      90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}