<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminus Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="head">
        <div class="terminal-header">
            <span class="terminal-buttons"></span>
            <span class="terminal-buttons terminal-minimus"></span>
            <span class="terminal-buttons terminal-zoom"></span>
            <span class="terminal-title">Welcome, {{ name }}</span>
        </div>
        <div class="message">
            <p>Hint: Explore every nook and cranny using commands like <i>"ls"</i> to check your surroundings, <i>"cd LOCATION"</i> to move to a different area, <i>"cd .."</i> to backtrack, and <i>"less PERSON"</i> to interact with persons/objects. And don't forget to check your current location with <i>"pwd"</i>.<span class="blinking-square">_</span></p>
        </div>
    </div>
    <div class="head2">
        <div class="terminal-header">
            <span class="terminal-buttons"></span>
            <span class="terminal-buttons terminal-minimus"></span>
            <span class="terminal-buttons terminal-zoom"></span>
            <span class="terminal-title">Find the Ticket</span>
        </div>
    </div>
    <div class="terminal" id="terminal-output">
        <!-- Terminal output will be displayed here -->
    </div>
    <div><br/></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let terminalOutput = document.getElementById('terminal-output');

            function handleCommand(userInput) {
                if (userInput.toLowerCase() === 'cls') {
                    // Clear the terminal output
                    terminalOutput.innerHTML = '';
                    createNewInput();
                } else {
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', '/play_game', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            let response = JSON.parse(xhr.responseText);
                            let gameOutput = response.game_output;

                            gameOutput.forEach(function(outputLine) {
                                let textContent = document.createElement('p');
                                textContent.textContent = outputLine;
                                terminalOutput.appendChild(textContent);

                                if (outputLine.includes("Congratulations! You've won the game!")) {
                                    setTimeout(function() {
                                        window.location.href = '/wheel';
                                    }, 1000);
                                }

                                if (outputLine.includes("ERROE 505")) {
                                    setTimeout(function() {
                                        window.location.href = '/';
                                    }, 1000);
                                }
                            });

                            terminalOutput.appendChild(document.createElement('br'));
                            createNewInput();
                            terminalOutput.scrollTop = terminalOutput.scrollHeight;
                        } else {
                            console.log('Request failed. Error: ' + xhr.statusText);
                        }
                    };
                    xhr.send('registration_number={{ registration_number }}&user_input=' + encodeURIComponent(userInput));
                }
            }

            function createNewInput() {
                let existingInput = document.querySelector('.terminal-input');
                if (existingInput) {
                    existingInput.querySelector('.user-input').autofocus = false;
                    existingInput.querySelector('.user-input').disabled = true;
                }
                let existingBlinkingSquare = document.querySelector('.blinking-square');
                if (existingBlinkingSquare) {
                    existingBlinkingSquare.remove();
                }

                let terminalInput = document.createElement('div');
                terminalInput.classList.add('terminal-input');

                let userInputPrompt = document.createElement('div');
                userInputPrompt.classList.add('user-prompt');
                userInputPrompt.textContent = '$ ';

                let blinkingSquare = document.createElement('span');
                blinkingSquare.classList.add('blinking-square');
                blinkingSquare.textContent = '_';

                let userInput = document.createElement('input');
                userInput.type = 'text';
                userInput.classList.add('user-input');
                userInput.autocomplete = 'off';
                userInput.required = true;
                userInput.autofocus = true; // Add autofocus attribute

                terminalInput.appendChild(userInputPrompt);
                userInputPrompt.appendChild(blinkingSquare);
                terminalInput.appendChild(userInput);

                terminalOutput.appendChild(terminalInput);

                userInput.focus();

                userInput.addEventListener('keyup', function(event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        let inputText = userInput.value.trim();
                        if (inputText !== '') {
                            handleCommand(inputText);
                            userInput.disabled = true;
                        }
                    }
                });
            }

            createNewInput();
        });
    </script>
</body>
</html>
